.idea
# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log
/_app_scaffolds/*
/.tmp/
/build-mac.sh
/build-win.sh
/extensions/bun/_runtime/bin/bun
/extensions/bun/_runtime/bin/bun.exe
